{% extends "baseadmin.html.twig" %}

{% block body %}

    <form class="form-inline mt-l" method="POST" action="{{ path('admin.environnement.ajout', {champ:'nom'}) }}">
        <div class="form-group mr-l mb-">
            <input type="text" class="sm" name="nom">
            <button type="submit" class="btn btn-primary mb-2 btn-sm">Ajouter</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><strong>Nom</strong></th>
                <th scope="col"><strong>Action</strong></th>                
            </tr>
        </thead>
        <tbody>
            {% for environnement in environnements %}
                <tr>
                    <td>
                        {{ environnement.nom }}
                    </td>
                    <td>                       
                        <a href="{{ path('admin.environnement.suppr', {id:environnement.id}) }}" class="btn btn-danger" 
                           onclick="return confirm('Etes-vous sûr de vouloir supprimer {{environnement.nom }} ?')">Supprimer</a>
                    </td>                   
                </tr>                
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
